@import "../../../styles/variables.scss";

.input-container {
  label {
    color: $white;
  }
}

.accordion-body {
  width: 100%;

  .icon-check-cicle {
    width: 20px;
    height: 20px;
  }

  .item-task {
    border: 1px solid $black-80;
    border-radius: 5px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
  }

  span.button-delete {
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: $danger;
  }
}

.card-content {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  max-height: 75vh;

  overflow-y: auto;

  table {
    position: relative; /* Garantir que a tabela tenha um contexto de empilhamento */
    width: 100%; /* Ajuste conforme necessário */
  }

  table thead tr {
    position: sticky;
    top: -5px;
    background-color: white;
    z-index: 1; /* Adicione essa linha */
  }
}

.file-info {
  color: $white;
}
